# First file for debug
# named as: debug_environment.cfg
DEBUG=True
ENV="development"
MODEL_PACKAGE_PATH="Model-Development/Models/flat_price_prediction_model.pkl"
MODEL_DATASET_PATH="Model-Development/Data/Flat prices.csv"
